<div class="viabill-pricetag" data-view="list" data-price="{{ product.price | money }}" data-currency="{{ shop.metafields.viabill_pricetag.data_currency }}"></div>
<script>(function(){var o=document.createElement('script');o.type='text/javascript';o.async=true;o.src='https://pricetag.viabill.com/script/{{ shop.metafields.viabill_pricetag.shopuri }}';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(o,s);})();</script>
