<footer
  class="site-footer footer-05 "
>
  <div id="shopify-section-footer-5" class="shopify-section">
    <div class="footer-top">
      <div class="container">
        
        <div class="row">
          <div class="col-footer col-12 col-md-4 col-lg20 col5">
            <h3 class="foot-title dropdow-mb"><span> Quick Links</span></h3>
            <ul>
              <li>
                <a
                  href="javascript:void(0)"
                  data-reverse="ycilop-gnippihs/segap/"
                  title="Shipping Policy"
                  class="foot-link"
                  ><span> Shipping Policy</span></a
                >
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  data-reverse="ycilop-nruter/segap/"
                  title="Return Policy"
                  class="foot-link"
                  ><span> Return Policy</span></a
                >
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  data-reverse="1-margorp-sdrawer/segap/"
                  title="Rewards Program"
                  class="foot-link"
                  ><span> Rewards Program</span></a
                >
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  data-reverse="margorp-ytnarraw-tcetorpeceip/segap/"
                  title="Warranty Program"
                  class="foot-link"
                  ><span> Warranty Program</span></a
                >
              </li>
              <li>
                <a href="/pages/wholesale" title="Wholesale" class="foot-link"
                  ><span> Wholesale</span></a
                >
              </li>
              <li>
                <a href="/pages/price-match-policy" title="Price Match Policy" class="foot-link"
                  ><span> Price Match Policy</span></a
                >
              </li>
            </ul>
          </div>
          <div class="col-footer col-12 col-md-4 col-lg20 col5">
            <h3 class="foot-title dropdow-mb">
              <span> Customer Service</span>
            </h3>
            <ul> 
              <li>
                <a
                  href="/pages/viabill"
                  title="Smoke Now, Pay Later"
                  class="foot-link"
                  ><span> Smoke Now, Pay Later</span></a
                >
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  data-reverse="moc.ksednez.potsknad//:sptth"
                  title="Help Center"
                  class="foot-link"
                  ><span> Help Center</span></a
                >
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  data-reverse="nruter-a-elif/segap/"
                  title="File a return"
                  class="foot-link"
                  ><span> File a return</span></a
                >
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  data-reverse="redrokcart/sppa/"
                  title="Track Your Order"
                  class="foot-link"
                  ><span> Track Your Order</span></a
                >
              </li>
              <li>
                <a href="/pages/contact-us" title="Contact Us" class="foot-link"
                  ><span> Contact Us</span></a
                >
              </li>
            </ul>
          </div>
          <div class="col-footer col-12 col-md-4 col-lg20 col5">
            <h3 class="foot-title dropdow-mb"><span> Company info</span></h3>
            <ul>
              <li>
                <a href="/pages/about-us" title="About Us" class="foot-link"
                  ><span> About Us</span></a
                >
              </li>
              <li>
                <a
                  href="/pages/reviews"
                  title="Customer Testimonials"
                  class="foot-link"
                  ><span> Customer Testimonials</span></a
                >
              </li>
              <li>
                <a
                  href="/pages/why-shop-at-an-online-smoke-shop"
                  title="Why Shop Online? "
                  class="foot-link"
                  ><span> Why Shop Online? </span></a
                >
              </li>
              <li>
                <a
                  href="/pages/privacy-policy-1"
                  title="Privacy Policy"
                  class="foot-link"
                  ><span> Privacy Policy</span></a
                >
              </li>
              <li>
                <a
                  href="/pages/terms-conditions"
                  title="Terms &amp; Conditions"
                  class="foot-link"
                  ><span> Terms &amp; Conditions</span></a
                >
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  data-reverse="sboj/potsknaD/pmc/moc.deedni.www//:ptth"
                  title="Careers &amp; Jobs"
                  class="foot-link"
                  ><span> Careers &amp; Jobs</span></a
                >
              </li>


              <li>
                <a
                  href="/pages/membership-terms-and-conditions" 
                  title="Cabana Club &amp; Elite Terms &amp; Conditions"
                  class="foot-link"
                  ><span> Cabana Club & Elite Terms & Conditions</span></a
                >
              </li>
              <!-- <li>
                <a
                  href="javascript:void(0)"
                  data-reverse="sboj/potsknaD/pmc/moc.deedni.www//:ptth"
                  title="Careers &amp; Jobs"
                  class="foot-link"
                  ><span> Careers &amp; Jobs</span></a
                >
              </li> -->
              <li>
                <a
                  href="/pages/accessibility-policy"  
                  class="foot-link"
                  ><span> Accessibility Policy</span></a
                >
              </li>

              
            </ul>
          </div>
          <div class="col-footer col-12 col-md-4 col-lg20 col5">
            <h3 class="foot-title dropdow-mb"><span> Partner With Us</span></h3>
            <ul>
              <li>
                <a
                  href="/pages/sell-on-dankstop"
                  title="Sell on DankStop"
                  class="foot-link"
                  ><span> Sell on DankStop</span></a
                >
              </li>
              <li>
                <a
                  href="/pages/affiliate-info"
                  title="Affiliate Program"
                  class="foot-link"
                  ><span> Affiliate Program</span></a
                >
              </li>
              <li>
                <a
                  href="/pages/drop-shipping-program"
                  title="Headshop Drop Shipping"
                  class="foot-link"
                  ><span> Headshop Drop Shipping</span></a
                >
              </li>
              <li>
                <a
                  href="/pages/merchant-processing"
                  title="Merchant Services"
                  class="foot-link"
                  ><span> Merchant Services</span></a
                >
              </li>
              <li>
                <a
                  href="javascript:void(0)"
                  data-reverse="1-margorp-sdrawer/segap/"
                  title="Referral Program"
                  class="foot-link"
                  ><span> Referral Program</span></a
                >
              </li>
            </ul>
          </div>
          <div class="col-footer col-12 col-md-4 col-lg20 col5">
            <h3 class="foot-title dropdow-mb"><span> Resources</span></h3>
            <ul>
              <li>
                <a
                  href="javascript:void(0)"
                  data-reverse="tsil-hsiw/segap/"
                  title="Your Wish List"
                  class="foot-link"
                  ><span> Your Wish List</span></a
                >
              </li>
              <li>
                <a href="/pages/learn" title="Learning Center" class="foot-link"
                  ><span> Learning Center</span></a
                >
              </li>
              <li>
                <a
                  href="/blogs/blog/glossary-of-terms"
                  title="Glossary of Terms"
                  class="foot-link"
                  ><span> Glossary of Terms</span></a
                >
              </li>
              <li>
                <a href="/blogs/blog" title="Blog" class="foot-link"
                  ><span> Blog</span></a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-social enable-color">
          <div class="groups-block">
            <ul class="social-icons">
              <li class="facebook">
                <a
                  href="http://facebook.com/dankstop"
                  title="Facebook"
                  target="_blank"
                  rel="noopener"
                  aria-label="Facebook link"
                >
                  <i class="fa fa-facebook fa-lg" aria-hidden="true"></i>
                </a>
              </li>
              <li class="twitter">
                <a
                  href="http://twitter.com/dankstop"
                  title="Twitter"
                  target="_blank"
                  rel="noopener"
                  aria-label="Twitter profile link"
                >
                  <i class="fa fa-twitter fa-lg" aria-hidden="true"></i>
                </a>
              </li>
              <li class="google_plus">
                <a
                  href="http://plus.google.com/+dankstop"
                  title="Google+"
                  target="_blank"
                  rel="noopener"
                  aria-label="Google+ profile link"
                >
                  <i class="fa fa-google-plus fa-lg" aria-hidden="true"></i>
                </a>
              </li>
              <li class="instagram">
                <a
                  href="http://instagram.com/dankstop"
                  title="Instagram"
                  target="_blank"
                  rel="noopener"
                  aria-label="Instagram profile link"
                >
                  <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                </a>
              </li>
              <li class="pinterest">
                <a
                  href="https://pinterest.com/dankstop"
                  title="Pinterest"
                  target="_blank"
                  rel="noopener"
                  aria-label="Pinterest profile link"
                >
                  <i class="fa fa-pinterest-p fa-lg" aria-hidden="true"></i>
                </a>
              </li>
              <li class="snapchat">
                <a
                  href="https://www.snapchat.com/add/dankstop"
                  title="Snapchat"
                  target="_blank"
                  rel="noopener"
                  aria-label="Snapchat profile link"
                >
                  <i class="fa fa-snapchat-ghost fa-lg" aria-hidden="true"></i>
                </a>
              </li>
              <li class="youtube">
                <a
                  href="https://www.youtube.com/dankstop"
                  title="YouTube"
                  target="_blank"
                  rel="noopener"
                  aria-label="YouTube profile link"
                >
                  <i class="fa fa-youtube fa-lg" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
            <div class="typography"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row justify-content-lg-between">
          <div class="col-12 col-lg-6" data-what="2021">
            <address>
              <div>
                © 2014 - 2025 DankStop. All Rights Reserved. <br /><a
                  href="https://hightideinc.com/"
                  title="High Tide"
                  target="_blank"
                  rel="noopener"
                  class="external-link"
                  >A High Tide Inc. Company</a
                >.
              </div>
            </address>
          </div>
          <div class="col-12 col-lg-6">
            <ul class="payment-methods">
              <li>
                <img
                  data-src="//cdn.shopify.com/s/files/1/1085/8818/files/Visa_Inverted_x32_png_x32.jpg?v=1555542742"
                  width="39"
                  height="24"
                  src="//cdn.shopify.com/s/files/1/1085/8818/files/Visa_Inverted_x32_png_x32.jpg?v=1555542742"
                  class="ls-is-cached lazyloaded"
                  alt="visa" loading="lazy"
                />
              </li>
              <li>
                <img
                  data-src="//cdn.shopify.com/s/files/1/1085/8818/files/MasterCard_x32_png_x32.jpg?v=1555542736"
                  width="39"
                  height="24"
                  src="//cdn.shopify.com/s/files/1/1085/8818/files/MasterCard_x32_png_x32.jpg?v=1555542736"
                  class="ls-is-cached lazyloaded"
                  alt="master" loading="lazy"
                />
              </li>
              <li>
                <img
                  data-src="//cdn.shopify.com/s/files/1/1085/8818/files/American-Express_x32_png_x32.jpg?v=1555542726"
                  width="39"
                  height="24"
                  src="//cdn.shopify.com/s/files/1/1085/8818/files/American-Express_x32_png_x32.jpg?v=1555542726"
                  class="ls-is-cached lazyloaded"
                  alt="american_express" loading="lazy"
                />
              </li>
              <li>
                <img
                  data-src="//cdn.shopify.com/s/files/1/1085/8818/files/BC_Rnd_64px_x32.png.jpg?v=1555542690"
                  width="63"
                  height="24"
                  src="//cdn.shopify.com/s/files/1/1085/8818/files/BC_Rnd_64px_x32.png.jpg?v=1555542690"
                  class="ls-is-cached lazyloaded"
                  alt="bitcoin" loading="lazy"
                />
              </li>
              <li>
                <img
                  data-src="//cdn.shopify.com/s/files/1/1085/8818/files/Discover_x32_png_x32.jpg?v=1555542711"
                  width="39"
                  height="24"
                  src="//cdn.shopify.com/s/files/1/1085/8818/files/Discover_x32_png_x32.jpg?v=1555542711"
                  class="ls-is-cached lazyloaded"
                  alt="discover" loading="lazy"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
 
</footer>
