{%- include 'customers-head' -%}
<style>
  #fileUpload {
    margin: 0 auto;
    display: inline-block;
    background: #F0F0F0;
    padding: 20px;
    border-radius: 10px;
  }
  .image-holder {
    margin-bottom: 20px;
  }
  .thumbnails a {
    margin-right: 10px;
    display: inline-block;
  }
  .thumbnails a .img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
    max-width: 50px;
    vertical-align: bottom;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
    box-shadow: 0 1px 2px rgba(0,0,0,.075);
  }
  .modal-body > img {
    max-width:100%;
    max-height:100%;
  }
</style>
{{ '_modal.css' | asset_url | stylesheet_tag }}



<div class="container">
  {% include 'breadcrumb' %}

  <div class="grid">
    <div id="warrantyContainer" class="warranty-container grid-item large--two-thirds push--large--one-sixth">

      <h1>{{ page.title }}</h1>

      <div class="loading-spinner loading-3x"></div>

    </div><!-- END .warranty-container -->
  </div><!-- END .grid -->
  
</div>
  


<script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-3.3.1.js"></script>

<!-- Bootstrap 4 JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


<script>
  // Get Warranty Request Redemption parameters from URL
  var queryParams = [];  
  if (location.search.length) {
    for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
      aKeyValue = aCouples[i].split('=');
      if (aKeyValue.length > 1) {
        queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
      }
    }
  }
  console.log(queryParams);

  // Set Warranty Request Redemption parameters from URL to variables
  var client_id = queryParams['client'];
  var policy_id = queryParams['policy'];
  var customer_id = queryParams['customer_id'];
  var file_upload_class = '#fileUpload';

  // Get Warranty Request Redemption page
  $.ajax({
    type: "GET",
    url: "//portal.dankstop.com/product-warranty/redeem.php",
    data: { integrated_view:1, client:client_id, policy:policy_id, customer_id:customer_id },
    beforeSend: function() {
    }							
  }).done(function( results ) {
    // Populate page with Warranty Request Redemption page
    $('#warrantyContainer').html(results);
  });


  // Server warranty API path
  var redeem_warranty_api_path = '//portal.dankstop.com/product-warranty/redeem.php';
  var redeem_warranty_url_with_params = redeem_warranty_api_path + "?client="+client_id+"&policy="+policy_id+"&customer_id="+customer_id+"&integrated_view=1";
  // Attach click handler to Submit Warranty Redemtpion Request button appended by AJAX
  $('body').on('click', '#submitRedemptionRequest', function(e){

    if(!$('#fileUpload[type="file"]').val()) {
      alert('Please select photos of the damaged item.');
      return false;
    }

    e.preventDefault();
    var redeem_form_data = new FormData($('body #redemtpionRequestForm')[0]);
    console.log($('body #redemtpionRequestForm')[0]);
    console.log(redeem_form_data);
    $.ajax({
      type: "POST",
      url: redeem_warranty_url_with_params,
      // Form data
      data: redeem_form_data,

      // Tell jQuery not to process data or worry about content-type
      // You *MUST* include these options!
      cache: false,
      contentType: false,
      processData: false,
      beforeSend: function() {
        console.log(this.data);
      }							
    }).done(function( results ) {
      console.log(results);
      // Populate page with Warranty Request Redemption page
      $('#warrantyContainer').html(results);
      // Scroll to top of Warranty Container after content loads
      $('html, body').animate({
        scrollTop: $('body').offset().top
      }, 1000);
    });
  });



  function setupReader(file, index) {
    var $image_holder = $("#imageHolder");
    var $thumbnails_holder = $("#thumbnails");
    $thumbnails_holder.empty();
    var file_name = file.name;
    var $uploaded_thumbnail_img;
    var reader = new FileReader();
    reader.onload = function (e) {
      // Create thumbnail image tag
      $uploaded_thumbnail_img = $("<img />", {
        "src": e.target.result,
        "class": "img-thumbnail"
      });

      // Create modal-wrapper anchor trigger
      var modal_class = "warranty-photo-" + index;
      $('<a/>', {
        "href": "#",
        "data-target": "#" + modal_class,
        "data-toggle": "modal"
      })
      // Append img inside modal-anchor-trigger
      .append($uploaded_thumbnail_img)
      .appendTo($thumbnails_holder);
      console.log($uploaded_thumbnail_img);
      // Create thumbnail modal 
      var thumbnail_modal_html = '<div id="' + modal_class + '" class="modal image-lightbox fade"><span class="close">×</span><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-body">' + $uploaded_thumbnail_img[0].outerHTML + '</div></div></div></div>';
      // Append modal to thumbnail holder
      $(thumbnail_modal_html).appendTo('body');
    };

    // Show/fade in image holder
    $image_holder.addClass('show');
    reader.readAsDataURL(file);
  };

  $("body").on('change', "#fileUpload", function () {
    //Get count of selected files
    var files = $(this)[0].files;
    var countFiles = files.length;

    // Get file extension
    var imgPath = $(this)[0].value;
    var extn = imgPath.substring(imgPath.lastIndexOf('.') + 1).toLowerCase();

    if (extn == "gif" || extn == "png" || extn == "jpg" || extn == "jpeg") {
      if (typeof (FileReader) != "undefined") {

        //loop for each file selected for uploaded.
        for (var i = 0; i < countFiles; i++) {
          setupReader(files[i], i);
        }

      } else {
        alert("This browser does not support FileReader.");
      }
    } else {
      alert("Pls select only images");
    }
  });


</script>
