{% assign elite_product =  settings.elite_product.id | times: 1 %} 
{% assign cart_has_no_elite_item = true %}
{% for item in cart.items %}
  {% if  item.product_id == elite_product %}
    {% assign cart_has_no_elite_item = false %}
  {% endif %}
{% endfor %}
<section class="cc-mm-elite-hero-section" id="cc-mm-elite-hero-section">
  <div class="cc-mm-hero-row">
    <div class="page-width">
      <div class="cc-mm-hero-wrap">
        <div class="cc-mm-hero-text">
          <h3>Free Gift!</h3>
          <p>Get a FREE gift with every order when you shop select brands!</p>
          {% if section.settings.image != blank %}
            <img src="{{ section.settings.image | img_url:'master' }}" alt="" class="img-responsive desktop-hide">
          {% endif %}
          <div class="cc-mm-hero-buttons">
            {% if cart_has_no_elite_item %}
              {% if customer.tags contains "elite_member" %}
                   {% comment %} <a href="javascript:alreadyMember('ELITE')" class="cc-elite-button cc-mm-best-value-elite-btn1">Join Elite</a> {% endcomment %}
               {% else %}
                 <a
                   href="#"
                   data-id="{{ settings.elite_product.selected_or_first_available_variant.id }}"
                   class="{% if customer.tags contains 'club_member' %}SSO_popup_elite_upgrade {% else %}SSO_popup_elite_join {% endif %} cc-elite-button"
                   >Join Elite</a>
                {% endif %}
           {% else %}
              <a
             href="#"
             class="{% unless customer %}SSO_popup_elite_join{% endunless %} cc-elite-button"
             >Join Elite</a>
           {% endif %}
          </div>
        </div>
        <div class="cc-mm-hero-image">
          <img src="{{ section.settings.image | img_url:'master' }}" alt="" class="img-responsive mobile-hide">
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "<> Elite Banner1",
  "settings": [
      {
      "type": "image_picker",
      "id": "image",
      "label": "Image Here"
    }
  ],
  "presets": [
    {
      "name": "<> Elite Banner1",
    }
  ]
}
{% endschema %}
