{% unless customer %}
  <section class="cc-newletter-section" id="cc-newletter-section">
    <div class="cc-newsletter-row">
      <div class="page-width ">
        <div class="cc-newletter-wrap">
          <div class="cc-newletter-join-club-title">
            <h3>Join Cabana Club Now</h3>
          </div>
          <div class="cc-newletter-join-club-description">
            <p>Get instant access to UNBEATABLE member prices at top smoking accessory and CBD sites.</p>
          </div>
          <div class="cc-newletter-join-club-form">
                    <!-- <form action="#" id="SSO__url_login_form"> -->
              <!-- <input type="email" placeholder="Email"> -->
              <input type="button" class="cc-secondary-button SSO_popup_register" value="Sign up">
            <!-- </form> -->
          </div>
        </div>
      </div>
    </div>
  </section>
{% endunless %}

{% schema %}
{
  "name": "<> Newsletter",
  "settings": [],
  "presets": [
    {
      "name": "<> Newsletter",
    }
  ]
}
{% endschema %}
