<link rel="stylesheet" href="{{ 'theme.min.css' | asset_url }}">
<style>
  .products-grid .grid-item {
    padding: 5px;
}
a.product-title {
    min-height: 45px; 
}
</style>
{%- include 'bold-cart' -%}

<div class="cart-template">
  <div class="container">
  	{% section 'cart-template' %}  
    
    {% section 'cart-best-sellers' %}
  </div>  
</div>